In [0]:
%sql
CREATE OR REPLACE TEMP VIEW people AS
SELECT * FROM VALUES
  ('Alice', 25),
  ('Bob', 30),
  ('Catherine', 27)
AS people(Name, Age);

In [0]:
%sql
SELECT * FROM people WHERE Age > 26;